:root {
  --gradient: linear-gradient(
    105deg,
    rgba(91, 104, 235, 1) 0%,
    rgba(40, 225, 253, 1) 100%
  );
  --main-color: #4b8ef1;
  --main-font: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--main-font);
}
/* Preloader */
#preload {
  background-color: #f6f6f6;
  width: 100%;
  height: 100vh;
  position: fixed;
}
.dots-9 {
  width: 20px;
  aspect-ratio: 1;
  position: relative;
  animation: d9-0 1.5s infinite steps(2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
  box-sizing: border-box;
}
.dots-9::before,
.dots-9::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: var(--gradient);
}
.dots-9::before {
  box-shadow: 26px 0;
  transform: translateX(-26px);
  animation: d9-1 0.75s infinite linear alternate;
}
.dots-9::after {
  transform: translateX(13px) rotate(0deg) translateX(13px);
  animation: d9-2 0.75s infinite linear alternate;
}
@keyframes d9-0 {
  0%,
  49.9% {
    transform: scale(1);
  }
  50%,
  100% {
    transform: scale(-1);
  }
}
@keyframes d9-1 {
  100% {
    box-shadow: 52px 0;
  }
}
@keyframes d9-2 {
  100% {
    transform: translateX(20px) rotate(-180deg) translateX(20px);
  }
}
/* Preloader */
/* Components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Grid System */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.main-heading {
  max-width: 650px;
  margin: auto;
  text-align: center;
}
.main-heading h4 {
  font-size: 30px;
  margin: 0 0 20px;
}
.main-heading h4 > span {
  color: var(--main-color);
}
.main-heading p {
  color: #afafaf;
  line-height: 1.7;
}
.main-heading p > a {
  color: var(--main-color);
  text-decoration: none;
}
/* Components */
/* Header */
header {
  animation: nav-top 0.8s;
}
header nav {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
header nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .links {
  list-style: none;
}
header nav .our-bars {
  display: none;
  cursor: pointer;
}
header nav .links li {
  display: inline-block;
}
header nav .links li a {
  text-decoration: none;
  padding: 0 20px;
  color: #2a2a2a;
  font-weight: 500;
  transition: 0.5s;
}
header nav .links li a:hover {
  color: var(--main-color);
}
header nav .links li:last-child {
  padding: 0 0 0 50px;
}
header nav .links li:last-child a {
  display: inline-block;
  padding: 0 20px;
  background-image: var(--gradient);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 23px;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
}
@media (max-width: 992px) {
  header nav .our-bars {
    display: block;
  }
  header nav {
    position: relative;
    z-index: 2;
  }
  header nav .links {
    background-color: #f7f7f7;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    z-index: -1;
    transition: 0.5s;
    opacity: 0;
    transform: translateX(-1000px);
  }
  header nav.active .links {
    top: 60px;
  }
  header nav .links li {
    display: block;
    padding: 20px 0;
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
    z-index: -2;
  }
  header nav .links li:last-child {
    padding: 20px 0;
  }
  header nav .links.active {
    opacity: 1;
    transform: translateX(0);
  }
}
nav.active {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 80px;
  background-color: #fff;
  z-index: 5;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0;
  animation: appering 0.5s forwards;
  transition: padding 0.8s;
}
/* Header */
/* Landing */
.landing {
  padding-top: 180px;
  padding-bottom: 100px;
}
.landing::before {
  content: "";
  opacity: 0;
  animation: appering 1s 0.8s forwards;
  position: absolute;
  background-image: url("../Media/slider-left-dec.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.landing .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .info .box1 {
  max-width: 700px;
}
.landing .info .box1,
.landing .info .box2 {
  opacity: 0;
  animation: fadein 1s 1.5s forwards;
}
.landing .info .box1 h2 {
  color: #333;
  font-size: 50px;
  margin: 0 0 20px;
  line-height: 1.5;
}
.landing .info .box1 p {
  color: #2a2a2a;
  margin: 0 0 45px;
  line-height: 1.7;
  font-size: 15px;
}
.landing .info .box2 a {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 23px;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  background-color: var(--main-color);
  margin-right: 20px;
}
.landing .image {
  opacity: 0;
  animation: fadeout 1s 1s forwards;
}
.landing .image img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .landing {
    padding-top: 150px;
  }
  .landing .container {
    flex-direction: column;
  }
  .landing::before {
    display: none;
  }
  .landing .info .box1,
  .landing .info .box2 {
    text-align: center;
  }
  .landing .info .box1 p {
    color: #afafaf;
  }
}
.landing .image {
  padding-top: 50px;
}
/* Landing */
/* Services */
.services {
  padding-top: 250px;
  padding-bottom: 100px;
  position: relative;
}
.services::after {
  content: "";
  background-image: url("../Media/services-right-dec.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 100px;
  right: 0%;
  width: 1100px;
  height: 100%;
  z-index: -1;
}
.services::before {
  content: "";
  background-image: url("../Media/services-left-dec.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -200px;
  left: -30px;
  width: 400px;
  height: 400px;
  z-index: -1;
}
.special {
  opacity: 0;
}
.services .special.active {
  animation: gobottom 1s forwards;
}
.services .cards {
  padding-top: 100px;
  padding-bottom: 100px;
}
.services .cards .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.cards .card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 10%);
  padding: 25px;
  border-radius: 10px;
  border-top-right-radius: 50px;
  transition: all 0.3s;
}
.cards .card .icon {
  margin: 0 0 30px;
  height: 50px;
  background-repeat: no-repeat;
}
.cards .card:nth-child(1) .icon {
  background-image: url("../Media/service-icon-01.png");
}
.cards .card:nth-child(2) .icon {
  background-image: url("../Media/service-icon-02.png");
}
.cards .card:nth-child(3) .icon {
  background-image: url("../Media/service-icon-03.png");
}
.cards .card:nth-child(4) .icon {
  background-image: url("../Media/service-icon-04.png");
}
.cards .card:hover {
  background-image: url("../Media/service-bg.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.cards .card:hover h4,
.cards .card:hover p,
.cards .card:hover a,
.cards .card:hover .our-arrow {
  color: #fff;
}
.cards .card:nth-child(1):hover .icon {
  background-image: url("../Media/service-icon-hover-01.png");
}
.cards .card:nth-child(2):hover .icon {
  background-image: url("../Media/service-icon-hover-02.png");
}
.cards .card:nth-child(3):hover .icon {
  background-image: url("../Media/service-icon-hover-03.png");
}
.cards .card:nth-child(4):hover .icon {
  background-image: url("../Media/service-icon-hover-04.png");
}
.cards .card h4 {
  font-size: 20px;
  margin: 0 0 15px;
}
.cards .card p {
  font-size: 15px;
  color: #afafaf;
  line-height: 2;
  margin: 0 0 20px;
}
.cards .card a {
  border: none;
  color: var(--main-color);
  background-color: transparent;
  text-decoration: none;
}
/* Services */
/* About */
.about {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.about::before {
  content: "";
  background-image: url("../Media/about-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100px;
  right: 0;
  z-index: -1;
}
.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .main-heading {
  text-align: left;
  margin: 0 0 30px;
}
.about .info .grid-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin: 0 0 50px;
}
.about .info .grid-cards .card {
  padding: 25px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 8%);
}
.about .info .grid-cards .card a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  margin: 0 0 8px;
  font-weight: bold;
  transition: 0.3s;
}
.about .info .grid-cards .card a:hover {
  color: var(--main-color);
}
.about .info .grid-cards .card p {
  color: #afafaf;
  line-height: 1.7;
  margin: 0 0 8px;
}
.about .info .bottom > p {
  color: #afafaf;
  line-height: 1.7;
  margin: 0 0 20px;
}
.about .info .bottom > a {
  display: inline-block;
  padding: 0 20px;
  background-image: var(--gradient);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border: none;
  border-radius: 23px;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  margin: 0 0 20px;
}
.about .info > span {
  color: #7a7a7a;
  font-size: 14px;
}
@media (max-width: 992px) {
  .about::before {
    display: none;
  }
  .about .container {
    flex-direction: column;
  }
  .about .main-heading {
    text-align: center;
  }
  .about .bottom {
    width: fit-content;
    margin: 0 auto 30px;
  }
  .about .info .grid-cards + p {
    color: #afafaf;
    line-height: 1.7;
    margin: 0 0 40px;
  }
}
@media (max-width: 992px) {
  .about .image img {
    max-width: 600px;
  }
}
@media (max-width: 767px) {
  .about .image img {
    max-width: 550px;
  }
}
@media (max-width: 576px) {
  .about .image img {
    max-width: 390px;
  }
}
/* About */
/* client */

.client {
  padding-top: 100px;
  padding-bottom: 100px;
}
.client .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.client .rates {
  width: 49%;
}
.client .rates .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}
.client .rates .rate::before {
  content: "";
  position: absolute;
  background-color: transparent;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.client .rates .rate.click {
  cursor: pointer;
}
.client .rates .rate .box h4 {
  font-size: 20px;
  color: #333;
  margin: 0;
}
.client .rates .rate .box:first-child p {
  font-size: 15px;
  color: #afafaf;
  margin: 0;
}
.client .rates .rate .box:nth-child(2) p {
  font-size: 15px;
  color: #afafaf;
  margin: 0;
  font-weight: bold;
  text-align: left;
}
.client .rates .rate .box .our-star {
  color: #afafaf;
}
.client .rates .rate .box span {
  color: #afafaf;
}
.client .opinion {
  width: 40%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.change-state {
  animation: Changer 0.8s 1 ease forwards;
}
.client .opinion .quote {
  padding: 60px 30px;
  background-image: url("../Media/client-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}
.client .opinion .quote q {
  color: #fff;
  display: block;
  margin: 30px 0 0;
  line-height: 1.7;
  font-weight: 500;
  font-style: italic;
}
.client .opinion .avatar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 50px;
}
.client .opinion .avatar img {
  border-radius: 50%;
  padding-right: 15px;
}
.client .opinion .avatar .box {
  padding-top: 30px;
}
.client .opinion .avatar .box h4 {
  font-size: 20px;
  margin: 0 0 15px;
}
.client .opinion .avatar .box p {
  margin: 0;
}
.client .rates .rate.active h4,
.client .rates .rate.active .box:nth-child(3) .our-star,
.client .rates .rate.active .box:nth-child(3) span {
  color: var(--main-color);
}

@media (max-width: 992px) {
  .client .container {
    flex-direction: column;
  }
  .client .container .rates,
  .client .container .opinion {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .client .container .rates .rate .box:nth-child(2) {
    display: none;
  }
}
@media (max-width: 576px) {
  .client .rates .rate {
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10%);
  }
}
/* client */
/* Price */

.price .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
.price .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.price .plans .plan {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  height: 70%;
}
.price .plans .plan::before {
  content: "";
  background-image: url("../Media/pro-table-top.png");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-repeat: no-repeat;
}
.price .plans .plan::after {
  content: "";
  background-image: url("../Media/pro-table-bottom.png");
  width: 370px;
  bottom: 0;
  height: 200px;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
}
.price .plans .plan:not(:nth-child(2)) {
  transform: translateY(20px);
  height: 60%;
}
.price .plans .plan:not(:nth-child(2))::before {
  background-image: url("../Media/regular-table-top.png");
}
.price .plans .plan:not(:nth-child(2))::after {
  background-image: url("../Media/regular-table-bottom.png");
  bottom: -30px;
}
.price .plans .plan span {
  color: #fff;
  font-size: 40px;
  position: absolute;
  font-weight: 700;
  z-index: 1;
  left: 30px;
  top: 30px;
}
.price .plans .plan h4 {
  font-size: 20px;
  margin: 0 0 30px;
}
.price .plans .plan ul {
  list-style: none;
  padding: 0;
}
.price .plans .plan ul li {
  color: var(--main-color);
  font-size: 15px;
  margin: 0 0 15px;
  text-align: center;
}
.price .plans .plan ul li del {
  color: #afafaf;
}
.price .plans .plan a {
  color: var(--main-color);
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid var(--main-color);
  background-color: #fff;
  border-radius: 23px;
  font-weight: 500;
  transition: 0.3s;
  text-decoration: none;
}
.price .plans .plan a:hover {
  background-color: var(--main-color);
  color: #fff;
}
/* Price */
/* Footer */
footer {
  padding-top: 300px;
  padding-bottom: 30px;
  background-image: url("../Media/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: #fff;
}
footer .container {
  text-align: center;
}
footer .heading h2 {
  font-size: 30px;
  margin: 0 auto 40px;
  width: 500px;
}
footer form {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 100px;
}
footer form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  height: 46px;
  width: 300px;
  font-size: 15px;
  color: #fff;
  caret-color: #fff;
}
footer form input::placeholder {
  color: #fff;
}
footer form button {
  width: 300px;
  height: 46px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 23px;
  color: #fff;
  margin-left: 30px;
  cursor: pointer;
  transition: 0.5s;
}
footer form button:hover {
  color: var(--main-color);
  background-color: #fff;
}
footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
footer .content section {
  text-align: left;
}
footer .content section h3 {
  font-size: 20px;
  margin: 0 0 40px;
}
footer .content section p {
  font-weight: 300;
  margin: 0 0 30px;
}
footer .content section .box {
  display: flex;
}
footer .content section .box ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0;
}
footer .content section .box ul:nth-child(2) {
  margin-left: 45px;
}
footer .content section .box ul li {
  margin: 0 0 15px;
}
footer .content section img {
  margin: 0 0 30px;
}
footer .content section:last-child p {
  line-height: 2;
}
footer .copyright {
  padding-top: 30px;
  font-weight: 300;
}
/* Footer */
@media (max-width: 576px) {
  footer .heading h2 {
    width: 300px;
    padding-top: 170px;
  }
  footer .content section {
    text-align: center;
  }
  footer .content section .box {
    display: block;
  }
  footer .content section .box ul:nth-child(2) {
    margin-left: 0;
  }
}
